/* resources/css/app.css */
nav.flex.items-center.justify-between svg {
    display: none;
}
body {
    background-color: #121212; /* Dark background for the body */
    color: #e0e0e0; /* Light text color */
}

.navbar {
    border-bottom: 1px solid #333; /* Dark border for navbar */
}

.navbar-brand, .nav-link {
    color: #f97070 !important; /* Light color for navbar text */
    font-weight: bold; /* Makes the text stand out */
    text-transform: uppercase; /* Gives a stylish look */
    letter-spacing: 1px; /* More spacing for readability */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle depth */
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Smooth transitions */
}

.navbar-brand:hover, .nav-link:hover {
    color: #ff5757; /* A brighter red on hover */
    text-shadow: 2px 2px 5px rgba(255, 87, 87, 0.5); /* Glow effect */
    transform: scale(1.05); /* Slight zoom on hover */
}


.navbar-brand:hover, .nav-link:hover {
    color: #007bff; /* Accent color on hover */
}

.comics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.comic-card {
    background-color: #1e1e1e; /* Dark background for comic cards */
    border: 1px solid #333; /* Dark border for comic cards */
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.comic-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.comic-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #e0e0e0; /* Light color for card titles */
}

.comic-card p {
    font-size: 0.9em;
    color: #b0b0b0; /* Lighter color for card text */
}

.comic-card a {
    text-decoration: none;
    color: inherit;
}

.comic-card a:hover h2 {
    color: #007bff; /* Accent color on hover */
}
.avatar {
    width: 40px; /* or whatever size you prefer */
    height: auto;
    border-radius: 50% !important; /* Make it circular */
    margin-bottom: 5px; /* Add some spacing */
}
.card-uploader span{
    color: #f7f0f7;
    font-weight: bold;
}
.sidebar-bg{
    background-color: #30363d;
}
.highlight-comics{
    background-color: #30363d;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-bottom: 10px;
}
